#reordenable tr{
    cursor: move;
}

.contenedor-total{
    display: flex;
    justify-content: space-around;
    font-size: 26px;
    text-align: center;
}

.activos{
    color: blue;
}

.pasivos{
    color: red;
}

